services:
  mediamtx:
    image: bluenviron/mediamtx:latest-ffmpeg
    network_mode: host
    volumes:
      - ./mediamtx.dev.yml:/mediamtx.yml
      - ./thumbnails:/thumbnails

  redis:
    image: redis:latest
    ports:
      - "8879:6379"

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: stream
      POSTGRES_PASSWORD: stream
      POSTGRES_DB: stream
    ports:
      - "8832:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    ports:
      - "8810:9000"
      - "8811:9090"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio-password
    command: server /data

  nats:
    image: nats:2.10.11-scratch
    command: -js -m 8222
    restart: always
    ports:
      - '8223:4222'

volumes:
  postgres: